:root {
  --font-color: #fff1f2;
  --aqua: #00b3bb;
  --light-aqua: #00e6aa;
  --dark-aqua: #0e9aa1;
  --grey: #e6e6e6;
  --light-grey: #f7f7f7;
  --dark-grey: #757575;
  --white: #ffffff;
  --green: #61b874;
  --yellow: #e6db7b;
  --red: #e67b7b;
  --dark-red: #c46161;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--font-color);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #4c0519;
  color: var(--font-color);
  font-size: larger;
}
header > :first-child {
  font-size: 32px;
  font-weight: 900;
}
.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.left-panel {
  padding-left: 10px;
  background-color: #630a26;
  /* background-color: #690808; */
  color: var(--font-color);
}
.home > h2,
.project > h2 {
  margin-bottom: 0;
}
.right-panel {
  background-color: #881337;
}
.title {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  margin: 10px 0 10px 0;
  padding: 5px;
  gap: 5px;
}
.project button {
  border: 0;
  background-color: #630a26;
  color: var(--font-color);
}

footer {
  text-align: center;
  font-size: large;
  padding: 10px;
  background-color: #4c0519;
  color: var(--font-color);
}

/* miscelaneous */
.hidden {
  top: 0;
  left: 0;
  pointer-events: none !important;
  position: absolute !important;
  max-height: 0 !important;

  /* do nth but avoid opacity transition when position absolute */
  transition: max-height 1s ease-out !important;
  opacity: 0 !important;
}

form {
  border: 2px solid red;
}

flex {
  display: flex;
}

.unchecked {
  border: 2px solid red;
  border-radius: 50%;
}
/* left side */
.link,
.project-link {
  display: flex;
  margin-bottom: 15px;
  padding: 12px 20px;
  font-size: 17px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

a[href] {
  padding: 0;
  margin: 0;
}

.project-icon-and-text-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  color: var(--font-color);
}
.project-trash-icons-div {
  margin-left: auto;
  color: var(--font-color);
}

p {
  margin: 0;
}
